@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: white;
  }
  body {
    background-color: black;
    font-family: 'Josefin Sans';
  }
  
  .link-underline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#18d26e, #18d26e);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
  }

  .link-underline:hover {
    background-size: 50% 2px;
    background-position: 0 100%
  }

  .link-underline-active {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#18d26e, #18d26e);
    background-size: 50% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }

  .highlighted {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#18d26e, #18d26e);
    background-size: 100% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }

  .follow-line {
    line-height: 0.1em;
  }

  
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

